@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #eff8f4;
  scroll-behavior: smooth;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer components {
  .h1-white {
    @apply text-2xl sm:text-3xl md:text-4xl font-bold text-white drop-shadow-dark;
  }
  .h2-white {
    @apply text-xl sm:text-2xl md:text-3xl font-bold text-white drop-shadow-dark;
  }
  .h2-green {
    @apply text-xl sm:text-2xl md:text-3xl font-bold text-emerald-600;
  }
}
